<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th>Address</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.desc %></td>
        <td><%= product.address %></td>
        <td><%= product.user_id %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<h1 class="whikitpdf"><%= link_to "download whikitpdf",  products_pdf_path(:product_id) %></h1>
<h1 class="prawan"><%= link_to "download prawan",  products_path(:format => "pdf") %></h1>
<br>

<h1><%= link_to 'New Product', new_product_path %></h1>
<br>

<h1><%= link_to 'scrape website', scrap_path %></h1>



/////////////////////////////////////////////////////

<a href="/express" data-paypal-button="true">
  <img src="//www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif" alt="Check out with PayPal" />
</a>


