
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p >
  <strong>Image:</strong>
  <% @product.image.each do |image|%>
    <img src="<%= image.url %>" alt="" height="50" width="80">
  <% end %>

</p>

<p>
  <strong>Desc:</strong>
  <%= @product.desc %>
</p>

<p>
  <strong>Address:</strong>
  <%= @product.address %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user_id %>
</p>

	<%= link_to (current_user.like.present? ? "dislike"  : " like"), like_create_path(likeable_id: @product.id, likeable_type: "Product"), method: :post   %>(<%= @product.likes.where(like: true).count %>)

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<%= form_for @payment, url: payment_create_path do |f| %>
  Amount:<%= f.text_field :amount %><br>
  <%= fields_for :creditcard, @creditcard do |cc| %><br>
    First_Name:<%= cc.text_field :first_name %><br>
   last Name:<%= cc.text_field :name %><br>

    Number: <%= cc.text_field :number %><br>
    Month: <%= cc.select :month, Date::ABBR_MONTHNAMES.compact.each_with_index.collect{|m, i| [m, i+1]}, {:prompt => 'Select'} %><br>
    Year: <%= cc.select :year, Array.new(15){|i| Date.current.year+i}, {:prompt => 'Select'} %><br>
    verification_value: <%= cc.text_field :verification_value %><br>
  <%= f.submit 'Pay' %><br>
  <% end %>

  <% end %>

<style type="text/css">
	.green
	{
		color: red;
	}

.red
	{
		color: green;
	}

</style>
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = "http://www.google.com";  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "Vishal Tga"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//vishaltga.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                